{% extends 'base.html.twig' %}

{% block title %}Détail du commentaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-white">ESPACE MARGIN TOP
			<br>
			ESPACE MARGIN TOP</h1>
		<!-- Contenu vide pour simuler l'espace -->
	</div>
	<h2>
		Commentaire du
		{{comment.dateCommentaire | date('d/m/y')}}
		par
		{{ comment.createur.pseudo }}
	</h2>
	<h3>
		{{ comment.contenu }}
	</h3>

	<a class='button' href="{{path('app_post_detail', {id : comment.post.id})}}">Retour au post</a>
{% endblock %}
