{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau Commentaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-white">ESPACE MARGIN TOP
			<br>
			ESPACE MARGIN TOP</h1>
		<!-- Contenu vide pour simuler l'espace -->
	</div>
	<h1>Création d'un nouveau Commentaire</h1>

	{{ form(form) }}{% endblock %}
